
h1 {
    font-size: 35px;
}
.title_key{
    font-size: 37px;
    color: rgb(5, 49, 143);
}
.subtitle {
    font-weight: 350;
    font-size: 27px;
}
.center{
    text-align: center;
}
.about{
    color: rgb(3, 23, 68);
    text-align: right;
}
.wrong{
    color: darkred;
    font-weight: 1000;
}
.answer{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.p_key{
    color: rgb(4, 29, 83);
    font-weight: 700;
}